i {
    padding-right: 10px !important;
    font-size: 30px;
    color: black;
  }
  
  .a-size {
    padding-right: 70px;
  }
  
  .md {
    margin: 0.25rem;
    max-width: 400px;
  }
  
  .imgn {
    padding: 10px;
    width: 230px;
    height: 240px;
  }
  
  .card-t {
    padding-left: 90px;
  }
  
  .title {
    font-size: 20px;
    line-height: 20px;
  }
  
  .days {
    font-size: 13px;
    padding-bottom: 10px;
    line-height: 0px;
  }
  
  .cost {
    font-size: 20px;
    color: #ff0000;
    font-weight: bold;
    line-height: 21px;
  }
  
  .ht {
    font-size: 10px;
    padding-left: 140px;
    line-height: 0px;
  }
  
  .spa1 {
    margin-top: 100px !important;
  }
  
  .spa2 {
    margin-top: 160px;
  }
  
  .cb {
    margin-top: 10px;
    margin-left: 80px;
  }
  
  .cw:hover {
    box-shadow: 1px 8px 20px grey;
    -webkit-transition: box-shadow .6s ease-in;
  }
  
  
  /* Customize the label (the container) */
  .container1 {
    display: block;
    position: relative;
    padding-left: 45px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container1 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .container1:hover input~.checkmark {
    background-color: rgb(241, 129, 129);
  }
  
  /* When the checkbox is checked, add a blue background */
  .container1 input:checked~.checkmark {
    background-color: #ff0000;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container1 input:checked~.checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container1 .checkmark:after {
    left: 9px;
    top: 5px;
    width: 7px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }